
.scroller {
    height: 100vh;
}

.orange {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #753500;
}

.text {
    color: #fff;
}

.black {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-color: #070707;
}

.blue {
    height: 100vh;
    background-color: #00026d;
}


.textWrap {
    position: relative;
    overflow: hidden;
    width: 450px;
    height: 80vh;
}

.panelText {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    width: 100%;
    height: 100%;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 900;
    text-align:center;
    background-color: #070707;

    transform:translateY(100%);
    opacity: 0;
}

.panelText.blueText {
    color: blue;
}

.panelText.redText {
    color: red;
}

.panelText.purpleText {
    color: purple;
}

.panelText.orangeText {
    color: orange;
}






.pWrap {
    position: relative;
    overflow: hidden;
    width: 450px;
    height: 80vh;
}

.panel {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.panel._2 {
    z-index: 1;
}

.panel.blue {
    z-index: auto;
}

.panel.red {
    z-index: auto;
    background-color: red;
    background-image: none;
}

.panel.orange {
    z-index: auto;
    background-color: #cf5d00;
    background-image: none;
}

.panel.purple {
    z-index: auto;
    background-color: #808;
    background-image: none;
}
  